.signout-btn {
    background-color: #FFFF;
    border: none;
    border-radius: 3px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
}

.signout-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signout-btn:hover {
    /*     background-color: rgb(0, 255, 255); */
    background-color: gold;
}